<script type="x/template" id="vue-add-to-wish-list">
    <div>
        <a class="add-to-wish-list" :class="{active: isVariationInWishList}" @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
          <span class="wrap"><span class="fa fa-edit"></span>
            {{ trans("GeniessBar::Template.singleItemWishList") }}
            </span>
        </a>
    </div>
</script>
