<script type="x/template" id="vue-quantity-input-slim">
    <div class="qty-box">
        <button class="qty-button" type="button" @click="countValueDown()" :disabled="waiting">
            <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
        </button>

        <input class="qty-input" type="text" pattern="[0-9]*" inputmode="numeric" value="1" v-model="compValue" @input="setValue($event.target.value)" :disabled="waiting">

        <button class="qty-button" type="button" @click="countValueUp()" :disabled="waiting">
            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
        </button>
    </div>
</script>
