{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<script type="x/template" id="vue-single-item">
    <div>
      <slot name="default" :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
          <div class="single container-max page-content">
              <div class="row">
                  <div class="col-md-5 single-leftside">
                      <slot name="image-carousel"></slot>
                  </div>
                  <div class="col-md-7 single-rightside">
                      {% include "GeniessBar::Item.Components.SingleItem.SingleItem_Details" %}
                  </div>

                  <!-- ITEM DESCRIPTION -->
                  {% include "GeniessBar::Item.Components.SingleItem.SingleItem_InformationTable" %}
                    <!-- ./ITEM DESCRIPTION -->


              </div>
          </div>
        </slot>
    </div>
</script>
