<script type="x/template" id="vue-fsk-check">
  <label class="form-check-label" for="fsk-check" v-bind:class="{ 'error': this.showError }">
    <input class="form-check-input" type="checkbox" value="" id="fsk-check" v-model="isChecked">
        Hiermit bestätige ich, dass der Empfänger das 18. Lebensjahr bereits vollendet hat und Lieferungen, die einen Artikel ohne Jugendfreigabe enthalten, vom Empfänger persönlich entgegengenommen werden.
  </label>
</script>
