{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('Ceres::Template.contactMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_contact") }}">
    <title>Newsletter Anmeldung</title>


{% endblock %}

{% block PageBody %}

    {{ component( "GeniessBar::Customer.Components.Contact.NewsletterForm" ) }}

    <div class="page-content container-max newsletter">
        <contact-form template="#vue-newsletter-form"></contact-form>
    </div>

{% endblock %}
