<!-- Insert markup for footer here -->
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<footer>
	<div class="footerTop">
	<div class="left">
		<div class="col-xs-12 col-md-4">
			<h4>Über uns</h4>
			<ul>
				<li><a href="https://www.hermko.de/content/fabrikverkauf/">Fabrikverkauf</a></li>
				<li><a href="https://www.hermko.de/content/materialien/">Aus der Natur</a></li>
				<li><a href="https://www.hermko.de/ueber-uns/video/">Videos</a></li>
				<li><a href="https://www.hermko.de/content/auszeichnungen/">Auszeichnungen</a></li>
				<li><a href="https://www.hermko.de/hermko/kontakt/">Kontakt</a></li>
			</ul>
		</div>
<div class="col-xs-12 col-md-4">
			<h4>Gesetzliches</h4>
			<ul>
				<li><a href="https://www.hermko.de/hermko/datenschutz/">Datenschutz</a></li>
				<li><a href="https://www.hermko.de/hermko/widerrufsrecht/">Widerrufsrecht</a></li>
				<li><a href="https://www.hermko.de/hermko/versandkosten/">Versand</a></li>
				<li><a href="https://www.hermko.de/hermko/agb/">AGB</a></li>
				<li><a href="https://www.hermko.de/hermko/impressum/">Impressum</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4">
			<h4>Ratgeber</h4>
			<ul>
				<li><a href="https://www.hermko.de/?ActionCall=WebActionArticleSearch&Params%5BSearchParam%5D=">Alle Hermko Artikel</a></li>
				<li><a href="https://www.hermko.de/content/groessentabelle/">Größentabelle</a></li>
				<li><a href="https://www.hermko.de/retoure/">Retoure</a></li>
				<li><hr></li>
				<li><a href="https://www.hermko.de/content/faq/">Häufig gestellte Fragen</a></li>
			</ul>
		</div>
	</div>
	<div class="center">
		<h4>So erreichen Sie uns</h4>
		<p>Telefon: <a href="tel:074242929" title="Rufen Sei uns an">07424 2929</a> | <a href="https://www.hermko.de/hermko/kontakt/">Unser Kontaktformular</a></p>
		<p><span class="col">Mo - Do:</span> 07:30 - 12:00 Uhr | 13:30 - 17:30 Uhr</p>
		<p><span class="col">Fr:</span> 07:30 - 12:00 Uhr | 13:30 - 16:00 Uhr</p>
		<h4>Social Media</h4>
		<i class="fa fa-facebook-square"></i>
	</div>
	<div class="right">
		<div>
		<h4>Unsere Zahlungsmöglichkeiten</h4>
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_visa.png" alt="Visa">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_mstercard.png" alt="Mastercard">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_paypal.png" alt="PayPal">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_amazon_pay.png" alt="Visa">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_giropay.png" alt="GrioPay">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_sofort.png" alt="Sofort Überweisung">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_vorkasse.png" alt="Vorkasse">
	</div>
	<div>
		<h4>Versand mit</h4>
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_dhl.png" alt="DHL">
		<img src="https://www.hermko.de/images/gallery/template/ceres/icon_post.png" alt="Deutsche Post">
	</div>
</div>
		<div class="clear"></div>
	</div>

		<div class="postal">
			<img src="https://www.hermko.de/images/gallery/template/logo.gif" alt="Logo">
			<p>&copy; HERMKO | Dürbheimerstr. 38/1 | D-78604 Riehtheim-Weilheim</p>
		</div>
</footer>
