<!-- Insert markup for footer here -->
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<footer>
  <div class="container-max">
    <div id="footerBox">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3>Kontakt</h3>
          <p>
            <span class="fa fa-map-marker"></span><span class="anschrift">Johand-Dahlem-Str. 64<br>63814 Mainnaschaff</span></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3>Informationen</h3>
          <ul>
            <li>
              <a href="" title="">Über uns</a>
            </li>
            <li>
              <a href="" title="">Kontakt</a>
            </li>
            <li>
              <a href="" title="">Impressum</a>
            </li>
            <li>
              <a href="" title="">AGB</a>
            </li>
            <li>
              <a href="" title="">Datenschutzerklärung</a>
            </li>
            <li>
              <a href="" title="">Widerrufsrecht</a>
            </li>
            <li>
              <a href="" title="">Versand und Kosten</a>
            </li>
            <li>
              <a href="" title="">Newsletter</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3>Zahlungsarten</h3>
					<h3>Folgen Sie uns</h3>
					<span class="fa fa-facebook"></span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3"></div>
				<p>Käufersiegel folgt</p>
      </div>
    </div>
		<img id="footerLogo" src="https://cdn03.plentymarkets.com/9mle78gfrmwz/frontend/templateCeres/logo_geniess_bar.jpg" alt="Logo">
  </div>
</footer>
