{{ component("Ceres::Category.Components.CategoryBreadcrumbs") }}
{% set homepageURL = services.url.getHomepageURL() %}

{% if categoryBreadcrumbs is not empty %}
    <nav data-component="breadcrumbs" data-renderer="twig" class="container-max">
        <div id="menuKacheln">
            {% set lastCategory = categoryBreadcrumbs | last %}
            {% if lastCategory.details is defined %}
                <div class="kachelBig"><img src="/documents/{{ lastCategory.details[0].image2Path }}" /></div>
            {% else %}
                <div class="kachelBig" v-cloak v-if="$store.state.item.variation.documents">
                    <img src="/documents/${ $store.state.item.variation.documents[0].data | image2Path }" />
                </dv>
            {% endif %}

            {% for category in categories %}
              <div class="kachel">
                  <a href="{{ category.details[0].nameUrl }}">{{ category.details[0].name }}</a>
              </div>
            {% endfor %}
        </div>
    </nav>

    <category-breadcrumbs template="#vue-category-breadcrumbs"></category-breadcrumbs>
{% endif %}
