{% import "GeniessBar::Category.Macros.CategoryTree" as Tree %}

{% set lang = services.sessionStorage.getLang() %}
{% set categoryBreadcrumbs = services.category.getHierarchy() %}
{% set firstCategory = categoryBreadcrumbs | first %}

{% set catContent = services.category.get( category.id, lang) %}

<div id="kacheln" class="row">
  <div class="col-xs-12 col-sm-6 col-md-5">
    {% if firstCategory.details is defined %}
        <div class="kachelBig"><img src="/documents/{{ firstCategory.details[0].image2Path }}" /></div>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6 col-md-7">
    {% for category in categories %}
      {% if category.id == firstCategory.id %}
      <!-- Nothing-->
      {% else %}
        <div class="kachel">
            <a href="https://www.geniess-bar.de/{{ category.details[0].nameUrl }}">
              {% if category.details[0].image2Path is not empty %}
              <img src="/documents/{{ category.details[0].image2Path }}" />
              {% else %}
              <p>{{ category.details[0].name }}</p>
              {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
