<script type="x/template" id="vue-item-store-special">
<div  v-show="label.length || bundleType === 'bundle'">
    <div  v-if="storeSpecial.id == 1" class="special-tags bg-red">
        <span class="tag ">Sale!</span>
    </div>
    <div  v-else-if="storeSpecial.id == 2" class="special-tags bg-green" >
        <span class="tag ">Neu!</span>
    </div>
    <div  v-else-if="storeSpecial.id == 3" class="special-tags bg-success">
        <span class="tag ">Top!</span>
    </div>
    <div :class="'special-tags bg-green id_' +  storeSpecial.id" v-else>
        <span class="tag ">
            ${ label }
        </span>
    </div>
  </div>
</script>
