<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
        <button class="search-submit" type="submit" @click="search()">
            <i class="fa fa-search sm-up"></i>
        </button>
            <input placeholder="Suchen Sie nach Ihrem Lieblingsprodukt..." type="search" class="search-input" @input="autocomplete($event.target.value)"
                @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
                >
            <div class="autocomplete-suggestions" v-if="isSearchFocused && autocompleteResult.length">
                <a :href="item.url" class="autocomplete-suggestion" v-for="(item, index) in autocompleteResult" :key="index" @click="selectAutocompleteItem(item)" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index }">
                  <img class="autocomplete-image" :src="item.img">
                  <div class="autocomplete-item-name" v-html="item.displayName"></div>
                </a>
            </div>
        </div>
    </div>
</script>
