<script type="x/template" id="vue-item-store-special">
    <div class="special-tags bg-red" v-show="label.length || bundleType === 'bundle'" v-if="storeSpecial.id === 1">
        <span class="tag ">
            ${ label }
        </span>
    </div>
    <div class="special-tags bg-green" v-show="label.length || bundleType === 'bundle'" v-if="storeSpecial.id === 2">
        <span class="tag ">
            ${ label }
        </span>
    </div>
    <div class="special-tags bg-success" v-show="label.length || bundleType === 'bundle'" v-if="storeSpecial.id === 3">
        <span class="tag ">
            ${ label }
        </span>
    </div>
    <div class="special-tags bg-green" v-show="label.length || bundleType === 'bundle'" v-else>
        <span class="tag ">
            ${ label }
        </span>
    </div>
</script>
