<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
        <button class="search-submit" type="submit" @click="search()">
            <i class="fa fa-search sm-up"></i>
        </button>
            <input placeholder="Suchen Sie nach Ihrem Lieblingsprodukt..." type="search" class="search-input" ref="searchInput" @input="autocomplete($event.target.value)"
                @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)">

            <div class="searchPreview" v-if="isSearchFocused && autocompleteResult.length">
                <div class="suggestion" v-for="(item, index) in autocompleteResult" :key="index" @mousedown="selectAutocompleteItem(item)" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index }">
                    <a :href="item.url">
                      <img class="searchImage" :src="item.img">
                      <span class="searchName" v-html="item.displayName"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>
